<div class="container">
  <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input id="firstname" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input id="lastName" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <input id="role" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="salary">Salary</label>
          <input id="salary" type="number" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" class="form-control">
        </div>
        <button routerLink="/home" type="button" class="btn btn-primary">Save Changes</button>
      </div>
  </div>
</div>
