<div class="container">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="userID">Username/Email</label>
          <input id="userID" class="form-control" type="text" name="" value="">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" class="form-control" type="password" name="" value="">
        </div>
        <div class="form-group">
          <a routerLink="/home"><button class="btn btn-primary" type="button" name="button">Login</button></a>  
        </div>
      </form>
    </div>
  </div>
</div>
