<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Employee Listing</h3>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Role</td>
            <td>Salary</td>
            <td>Select</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Smith</td>
            <td>Sr. Accountant</td>
            <td>$70,000</td>
            <td>
              <a routerLink="/editEmployee">
                <button type="button" class="btn btn-primary" >Select</button>
              </a>
            </td>
          </tr>
          <tr>
            <td>Victor</td>
            <td>Romano</td>
            <td>Account Manager</td>
            <td>$56,000</td>
            <td>
              <a routerLink="/editEmployee">
                <button type="button" class="btn btn-primary" >Select</button>
              </a>
            </td>
          </tr>
          <tr>
            <td>Pam</td>
            <td>Adams</td>
            <td>Accountant</td>
            <td>$62,000</td>
            <td>
              <a routerLink="/editEmployee">
                <button type="button" class="btn btn-primary" >Select</button>
              </a>
            </td>
          </tr>
          <tr>
            <td>Kenny</td>
            <td>Blankenchip</td>
            <td>Department Manager</td>
            <td>$59,000</td>
            <td>
              <a routerLink="/editEmployee">
                <button type="button" class="btn btn-primary" >Select</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
